/* style.css */
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 20px;
}

.number {
  color: blue;
}

.enum {
  color: orange;
}

.string {
  color: green;
}

.attribute {
  color: darkslategrey;
}

.note {
  color: yellow;
}

.error {
  color: red;
   text-decoration: underline;
   text-decoration-color: red;
   text-underline-offset: 0.1em;}

/* Additional styles for better readability */
code {
  display: block;
  white-space: pre-wrap;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}
